<robot name="box3">
  <link name="box3_base_link">
    <visual>
      <origin rpy="0 0 3.14159" xyz="0.2 -0.52 -0.16"/>
      <geometry>
        <mesh filename="../meshes/box3.obj"  scale="0.0005 0.0005 0.0005"/>
      </geometry>
      <material name="tray_material">
        <color rgba="0.7 0.7 0.7 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 3.14159" xyz="0.2 -0.52 -0.16"/>
      <geometry>
        <mesh filename="../meshes/box3.obj" scale="0.0005 0.0005 0.0005"/>
      </geometry>
    </collision>
  </link>
</robot>
