<robot name="part_box">
  <link name="part_box_base_link">
    <visual>
      <origin rpy="0 0 3.14159" xyz="0.2 -0.52 -0.08"/>
      <geometry>
        <mesh filename="../meshes/part_box.obj"  scale="0.0004 0.0004 0.0004"/>
      </geometry>
      <material name="tray_material">
        <color rgba="0.7 0.7 0.7 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 3.14159" xyz="0.2 -0.52 -0.08"/>
      <geometry>
        <mesh filename="../meshes/part_box.obj" scale="0.0004 0.0004 0.0004"/>
      </geometry>
    </collision>
  </link>
</robot>
